* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  cursor: url('/img/cursor.cur'), auto;
}

.logo {
  z-index: 2;
  position: fixed;
  top: 8px;
  left: 0px;
  width: 140px;
  background: #fff;
}

/* Borders
********************************************************************************/

.border-top,
.border-bottom {
  z-index: 2;
  position: fixed;
  left: 12px;
  width: calc(100vw - 24px);
  height: 6px;
  background: #000;
}

.border-top {
  top: 12px;
}

.border-bottom {
  bottom: 12px;
}

.border-left,
.border-right {
  z-index: 2;
  position: fixed;
  top: 12px;
  height: calc(100vh - 24px);
  width: 6px;
  background: #000;
}

.border-left {
  left: 12px;
}

.border-right {
  right: 12px;
}

/* Waves
********************************************************************************/

.wave {
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: -100px;
  transform: rotate(180deg) translateY(0);
}