* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  cursor: url('/img/cursor.cur'), auto;
  font-family: 'Open Sans Condensed', sans-serif;
  background: rgba(0, 100, 155, 0.1);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 700;
}

/* Site Grid Items
********************************************************************************/

.site-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 12px;
}

.logo {
  z-index: 2;
  position: fixed;
  top: 12px;
  left: 12px;
  width: 116px;
}

/* temp */
.logo img {
  height: 16.6vh;
}
/* temp */

.date {
  grid-column: 10 / 13;
  grid-row: 1 / 2;
  font-size: 2.2rem;
  line-height: 120%;
  padding: 1rem;
  background: #fff;
  border: 6px solid #000;
  border-left: none;
  text-align: right;
}

.book-cta {
  grid-column: 7 / 10;
  grid-row: 1 / 2;
  font-size: 2.4rem;
  line-height: 100%;
  background: #000;
  border: 6px solid #000;
  color: #fff;
}

.book-cta:hover {
  background: #FA7268;
  border: 6px solid #000;
}

.book-btn {
  height: 100%;
}

.line-up {
  grid-column: 1 / 7;
  grid-row: 2 / 4;
  padding: 3rem;
  background: #fff;
  text-align: center;
  font-size: 2rem;
  line-height: 170%;
  border: 6px solid #000;
  border-bottom: none;
}

.line-up-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.artist {
  background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
}

.anchor {
  font-size: 1rem;
  margin: 0 10px;
}

.artist:hover,
.artist:focus,
.artist:active {
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2300649B' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: 22px 6px;
  background-repeat: repeat-x;
}

@keyframes wavyunderline {
  from {
    background-position: 2px 19px;
  }
  to {
    background-position: 500px 19px;
  }
}

.artist-slot {
  grid-column: 1 / 4;
  grid-row: 4 / 7;
  display: grid;
  place-items: center;
  border: 6px solid #000;
}

.artist-image {
  grid-column: 4 / 7;
  grid-row: 4 / 7;
  display: grid;
  place-items: center;
  border: 6px solid #000;
  border-left: none;
  overflow: hidden;
}

.artist-image img {
  filter: url("#turbulence") grayscale(0.4);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.about {
  grid-column: 7 / 13;
  grid-row: 2 / 6;
  border: 6px solid #000;
  border-top: none;
  border-left: none;
  font-size: 2.2rem;
  padding: 2rem 4rem;
  line-height: 170%;
  color: #fff;
}

.about-inner {
  filter: url("#turbulence");
}

.logos {
  grid-column: 7 / 13;
  grid-row: 6 / 7;
  background: #fff;
}

/* Borders
********************************************************************************/

.border-top,
.border-bottom {
  z-index: 2;
  position: fixed;
  left: 12px;
  width: calc(100vw - 24px);
  height: 6px;
  background: #000;
}

.border-top {
  top: 12px;
}

.border-bottom {
  bottom: 12px;
}

.border-left,
.border-right {
  z-index: 2;
  position: fixed;
  top: 12px;
  height: calc(100vh - 24px);
  width: 6px;
  background: #000;
}

.border-left {
  left: 12px;
}

.border-right {
  right: 12px;
}

/* Waves
********************************************************************************/

.wave {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
}